 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Gallery</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Gallery</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <!-- /.card-header -->
              <!-- form start -->

              {{> messages}}
              <form role="form" id="quickForm" method="POST" action="/gallery/update/{{gallery.id}}">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Gallery Name</label>
                    <input type="text" name="gallery_name" class="form-control" id="exampleInputEmail1" placeholder="Enter gallery" value="{{gallery.galleryName}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputDescription">Gallery Description</label>
                    <div class="row">
                        <textarea name="gallery_desc" id="" cols="30" rows="5">{{gallery.galleryDesc}}</textarea>  
                    </div>  
                      </div>
                  <div class="form-group mb-0">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>