	
    <!-- Page Preloder -->
	
	<!-- Header section -->
    <!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="/frontend/img/bg.jpg">
		<div class="container">
			<div class="hero-slider owl-carousel">
				<!-- slider item -->
				 <div class="hs-item">
					<div class="hs-content text-white">
						<h2>Be bold.<br>Be beautiful.</h2>
						<p class="font-weight-bold">Your beauty our Utmost Pirority.</p>
						<a href="#" class="site-btn sb-big">See Offers</a>
					</div>
					<div class="hs-preview set-bg" data-setbg="http://res.cloudinary.com/bee-glamoure/image/upload/v1611734778/zr4s8bzxbrxuuk7nifvs.jpg"></div>
					
				</div>
				<!-- slider item -->
				<div class="hs-item">
					<div class="hs-content text-white">
						<h2>Be bold.<br>Be beautiful.</h2>
						<p class="font-weight-bold">Your beauty our Utmost Pirority.</p>
						<a href="#" class="site-btn sb-big">See Offers</a>
					</div>
					<div class="hs-preview set-bg" data-setbg="http://res.cloudinary.com/bee-glamoure/image/upload/v1611734846/uajvlcospcjahbbtfehf.jpg"></div>
					
				</div>
				
			</div>
		</div>
	</section>

<div style="">
{{> services }}
</div>

<div>
	{{> training}}
</div>

-- <section class="intro-section spad  set-bg" data-setbg="#">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="intro-content">
						<h2>Why Choose Us?</h2>
						<p class="font-weight-bold">Because we offer services that are affordable and we give you clean face beat that will make people wonder.Here are some reasons that we think you should stop by Threads.

 						</p>
						 <div class="font-weight-bold">
							  <li >1.Bee's Glamour offer best eyebrow threading. Our threading artists are experienced and skilled at creating perfect eyebrows.</li>
						 <li>Our hair and nail salon services are renowned for being superb, stylistically cutting edge, yet affordable.</li>
						 <li>In addition to our specialties, we provide fully comprehensive salon services, including: Make up, Hair Dressing, Manicure  and Pendicure.</li>
						 <li>Our estheticians and threading artists our uniquely talented. Also, they are expertly trained to provide relaxing and effective salon treatments.
</li>
						 <li> Our soothing and spacious salon is ideal; accordingly, many of our customers say they always look forward to coming in.</li>
						 <li> In the past and in many places, the art of eyebrow threading has been mostly hidden from the public. We aimed to bring Threading to the forefront of our salon and the response was incredible.</li>


						 </div>
						
					</div>
				</div>
			</div>
			
			</div> 
		</div>
</section> 



	