<!DOCTYPE html>
<html>
  <head>
    {{!-- <title>{{title}}</title> --}}
    	<title>Bee's Glamour</title>
	<meta charset="UTF-8">
	<meta name="description" content="Diva Beauty salon template">
	<meta name="keywords" content="diva, beauty, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="/frontend/img/favicon.ico" rel="shortcut icon" />
	<!-- Stylesheets -->
	<link rel="stylesheet"
		href="/frontend/css/bootstrap.min.css%2bfont-awesome.min.css%2bjquery-ui.min.css%2bflaticon.css%2bowl.carousel.css%2bstyle.css%2banimate.css.pagespeed.cc.zg45uwtB2E.css" />
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link rel='stylesheet' href='/frontend/stylesheets/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css">
    {{!-- <link rel="stylesheet" href=""> --}}
     <link rel="stylesheet" href="/frontend/css/style.css">



  </head>
  <body>
      <div class="site-wrap">
        {{>header}}
          {{{body}}}
        {{>footer}}

      </div>

      
  
      
    



    	<!--====== Javascripts & Jquery ======-->
    <script src="/frontend/js/jquery-3.2.1.min.js.pagespeed.jm.Y8jX7FH_5H.js"></script>
    <script src="/frontend/js/jquery-ui.min.js%2bbootstrap.min.js.pagespeed.jc.g0_gx2Ltgf.js"></script>
    <script>eval(mod_pagespeed__wjiWS4NvC);</script>
    <script>eval(mod_pagespeed_8msrMPaIZO);</script>
    <script src="/frontend/js/owl.carousel.min.js%2bcircle-progress.min.js.pagespeed.jc.AOynct2SZE.js"></script>
    <script>eval(mod_pagespeed_qA7XjETaPB);</script>
    <script>eval(mod_pagespeed_V7PoY_0AMS);</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
    <script>//<![CDATA[
      'use strict'; $(window).on('load', function () { $(".loader").fadeOut(); $("#preloder").delay(400).fadeOut("slow"); }); (function ($) { $('.nav-switch').on('click', function (event) { $('.main-menu').slideToggle(400); event.preventDefault(); }); $('.set-bg').each(function () { var bg = $(this).data('setbg'); $(this).css('background-image', 'url(' + bg + ')'); }); $('.hero-slider').owlCarousel({ loop: true, nav: false, dots: true, mouseDrag: false, animateOut: 'fadeOutLeft', animateIn: 'fadeInRight', items: 1, }); var dot = $('.hero-slider .owl-dot'); dot.each(function () { var index = $(this).index() + 1; if (index < 10) { $(this).html('0').append(index); $(this).append('<span>.</span>'); } else { $(this).html(index); $(this).append('<span>.</span>'); } }); $(".datepicker").datepicker(); $('.testimonials-slider').owlCarousel({ loop: true, nav: false, dots: true, items: 1, autoplay: true }); $('.brands-slider').owlCarousel({ loop: true, nav: false, dots: false, margin: 40, autoplay: true, responsive: { 0: { items: 1, }, 480: { items: 2, }, 768: { items: 4, }, 1200: { items: 5, } } }); $('.popular-services-slider').owlCarousel({ loop: true, dots: false, margin: 40, autoplay: true, nav: true, navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], responsive: { 0: { items: 1, }, 768: { items: 2, }, 991: { items: 3 } } }); $('.panel-link').on('click', function (e) { $('.panel-link').removeClass('active'); var $this = $(this); if (!$this.hasClass('active')) { $this.addClass('active'); } e.preventDefault(); }); $('.circle-progress').each(function () { var cpvalue = $(this).data("cpvalue"); var cpcolor = $(this).data("cpcolor"); var cptitle = $(this).data("cptitle"); var cpid = $(this).data("cpid"); $(this).append('<div class="' + cpid + '"></div><div class="progress-info"><h2>' + cpvalue + '%</h2><p>' + cptitle + '</p></div>'); if (cpvalue < 100) { $('.' + cpid).circleProgress({ value: '0.' + cpvalue, size: 240, thickness: 3, fill: cpcolor, emptyFill: "rgba(0, 0, 0, 0)" }); } else { $('.' + cpid).circleProgress({ value: 1, size: 240, thickness: 3, fill: cpcolor, emptyFill: "rgba(0, 0, 0, 0)" }); } }); })(jQuery);
  //]]></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-23581568-13');</script>

 
  </body>
</html>
