<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="/frontend/img/page-top-bg/1.jpg">
    <div class="container text-center">
        <h2>Services</h2>
    </div>
</section>
<!-- Page info section end -->
{{> services}}
<!-- Team section -->

<!-- Team section end -->
