<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="/backend/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Bees Glamour</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{user.profileImage}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.firstName}} {{user.lastName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/bookMes" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>BookMe</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/getintouchs" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Training</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/account/users" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/comments/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Comments</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/emails" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>user Email</p>
          </a>
        </li>
         <li class="nav-item">
          <a href="/gallery/add" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Gallery</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/gallery/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Gallery</p>
          </a>
        </li>
          <li class="nav-item">
          <a href="/postgallery/add" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Post Gallery</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/postgallery/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Post Gallery</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/category/add" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/category/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Categories</p>
          </a>
        </li>
       
        <li class="nav-item">
          <a href="/post/add" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Post</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/post/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Posts</p>
          </a>
        </li>

         <li class="nav-item">
          <a href="/postservice/add" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>Post Services</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/postservice/all" class="nav-link ">
            <i class="far fa-circle nav-icon"></i>
            <p>All Post Service</p>
          </a>
        </li>
      
      </ul>

      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>